<!-- <p>login works</p> -->

<!-- <div><h3 class="text-white ">{{aim}}</h3></div>
<div  id="box"   class="container">
    <h1 class="text-center">LOGIN FORM</h1>
 <form action="">

    <label for="" class="text-white">Accoount Number</label>
<input (change)="accnoChange($event)" [placeholder]="data" name="acno" id="a1" type="text" class="form-control mt-3">

<label  for="" class=" text-white">Password</label>
<input  (change)="passwordchange($event)"  [placeholder]="password" name="psw" id="a2" type="text" class="form-control mt-3">

<button (click)="login()"  class="btn btn-success  " type="submit" >LOGIN</button>
<div class="text-center">new user? <a href="">register</a>
</div>
</form>

</div> -->
<!-- string interpolation -->
<div><h2  class="text-center mt-5 ">{{aim}}</h2></div>  

<div class="row" style="margin-top:113px;">
    <div class="col-4 ms-4"></div>
    <div id="login-box" class="col-4">
        <h1 class="mt-3 text-black">LOGIN FORM</h1>
        <form action="">
            <label for="" class="text-black" >Account number</label>
            <input (change)="acnoChange($event)" [placeholder]="data"  name="acno" id="" style="cursor:pointer ;" type="text" class="form-control w-75 mt-3">
            <label for="" class="mt-3  text-black" >Password</label>
            <input (change)="pswChange($event)" [placeholder]="data1"  name="psw" id="" style="cursor:pointer ;" type="text" class="form-control w-75 mt-3">
<div class="text-center">
                <button type="submit" (click)="login()" class="btn btn-warning mt-3 ">LOGIN</button>

</div>   
        </form>
        <div style="word-spacing: 5px; cursor: pointer;" class="text-center mt-3 mb-3 text-black" >New user?<a href="" class="ms-3">Register</a></div>
    </div>
    <div class="col-4"></div>
</div>